.read {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: auto;
  height: 100%;
  background: var(--bg1);
  padding: 20px;
  color: var(--fg1);
  overflow-y: auto;
  .read-aside {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    top: 200px;
    left: 100px;
  }
}
