body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,p {
	font-size:16px;
	margin:0;
	padding:0;
	border:0;
}
ul,ol,li {
	list-style-type:none;
}
body {
	color:#404040;
	font-family:"MS PGothic",sans-serif;
}
img {
	border:0;
	line-height:0;
	vertical-align:middle;
}
address,cite {
	font-style:normal;
}
a:link {
	text-decoration:none;
	color:#1740c7;
}
a:visited {
	color:#551a8b;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
a:active {
	color:#1740c7;
	text-decoration:none;
}
#header_logo:after,#header_right:after,#search_switch:after,#search_form:after,#main_container:after,#footer_box:after,#bookmark:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
#header_logo {
	zoom:1;
	margin:0 auto;
	_margin:0 0 0 -3px;
	padding:5px 0 0 0;
	width:950px;
	font-size:10px;
	color:#c5beb8;
}
#header_logo a {
	color:#c5beb8;
}
#logo {
	padding:3px 0 10px 0;
	text-align:left;
}
#header_left {
	float:left;
}
#header_kotobank {
	position:relative;
	display:block;
	overflow:hidden;
	width:176px;
	height:32px;
}
#header_kotobank img {
	position:absolute;
	top:-1px;
	left:-1px;
}
#header_right {
	zoom:1;
	float:right;
	text-align:right;
}
#header_right a {
	position:relative;
	display:block;
	overflow:hidden;
	height:26px;
	padding:0;
	margin:20px 0 0 5px;
	float:left;
}
#header_right a:hover {
	background-color:transparent;
}
#header_right img {
	position:absolute;
}
#header_home {
	width:42px;
}
#header_home img {
	top:-45px;
	left:-1px;
}
#header_home:hover img {
	top:-76px;
	left:-1px;
}
#header_what {
	width:94px;
}
#header_what img {
	top:-114px;
	left:-1px;
}
#header_what:hover img {
	top:-145px;
	left:-1px;
}
#header_diclist {
	width:68px;
}
#header_diclist img {
	top:-178px;
	left:-1px;
}
#header_diclist:hover img {
	top:-209px;
	left:-1px;
}
#header_use {
	width:44px;
}
#header_use img {
	top:-242px;
	left:-1px;
}
#header_use:hover img {
	top:-273px;
	left:-1px;
}
#header_plugin {
	width:84px;
}
#header_plugin img {
	top:-306px;
	left:-1px;
}
#header_plugin:hover img {
	top:-338px;
	left:-1px;
}
#header_sitemap {
	width:71px;
}
#header_sitemap img {
	top:-371px;
	left:-1px;
}
#header_sitemap:hover img {
	top:-403px;
	left:-1px;
}
#search_area {
	width:100%;
	text-align:center;
	background-color:#024562;
}
#search_area form {
	margin:0 auto;
	padding:20px 0 10px;
	position:relative;
	text-align:left;
	width:950px;
}
#search_area .logo-yahoo {
	background-image:url("https://downloads.freemdict.com/i/yahoo_logo_intro.png");
	text-indent:-999px;
	overflow:hidden;
	display:block;
	height:40px;
	position:absolute;
	right:0;
	top:20px;
	width:194px;
}
.redirect-yahoo {
	cursor:pointer;
}
#search_switch {
	zoom:1;
	padding:10px 0 0 0;
	font-size:14px;
}
#search_switch li {
	float:left;
	padding:0 0 10px 0;
}
#search_switch a {
	border-left:2px solid #487484;
	padding:0 10px;
	display:block;
	height:18px;
	_height:auto;
	text-decoration:none;
}
#search_switch a:hover {
	text-decoration:underline;
}
#search_switch_right_off a,#search_switch_right_on a {
	border-right:2px solid #487484;
}
#search_switch_left_off a,#search_switch_right_off a {
	color:#bddae8;
}
#search_switch_left_on a,#search_switch_right_on a {
	color:#fff;
	font-weight:bold;
}
#search_switch_left_on {
	background:url(https://downloads.freemdict.com/i/common.png) no-repeat center;
	background-position:-155px -620px;
	_background-position:-155px -623px;
}
#search_switch_right_on {
	background:url(https://downloads.freemdict.com/i/common.png) no-repeat center;
	background-position:-140px -620px;
	_background-position:-140px -623px;
}
#search_form {
	zoom:1;
	padding:0 0 10px 0;
	/margin:-1px 0 0 0;
}
#search_form li {
	float:left;
	padding:0 10px 0 0;
}
#search_input {
	border:5px solid #fff;
	font-size:14px;
	font-weight:bold;
	width:350px;
}
#search_form select {
	border:3px solid #fff;
	font-size:100%;
	height:26px;
}
#search_button {
	position:relative;
	display:block;
	overflow:hidden;
	width:88px;
	height:27px;
	_margin:0 0 0 -10px;
	background:url(https://downloads.freemdict.com/i/common.png) no-repeat;
	background-position:-1px -707px;
}
#search_button input {
	position:absolute;
	top:-675px;
	left:-1px;
}
#search_button input:hover {
	filter:alpha(opacity=0);
	-ms-filter:alpha(opacity=0);
	opacity:.0;
}
li#dict_search_button {
	position:relative;
	display:block;
	overflow:hidden;
	width:98px;
	height:27px;
	_margin:0 0 0 -10px;
	padding-right:0;
	background:url(https://downloads.freemdict.com/i/common.jpg) no-repeat;
	background-position:-1px -771px;
}
#dict_search_button input {
	position:absolute;
	top:-739px;
	left:-1px;
}
#dict_search_button input:hover {
	filter:alpha(opacity=0);
	-ms-filter:alpha(opacity=0);
	opacity:.0;
}
#web_search_button {
	position:relative;
	display:block;
	overflow:hidden;
	width:98px;
	height:27px;
	_margin:0;
	background:url(https://downloads.freemdict.com/i/common.jpg) no-repeat;
	background-position:-1px -835px;
}
#web_search_button input {
	position:absolute;
	top:-803px;
	left:-1px;
}
#web_search_button input:hover {
	filter:alpha(opacity=0);
	-ms-filter:alpha(opacity=0);
	opacity:.0;
}
#search_form a {
	margin:7px 0 0 0;
	padding:5px 0 0 15px;
	_margin:7px 0 0 10px;
	display:block;
	background:url(https://downloads.freemdict.com/i/common.jpg) no-repeat;
	background-position:-1px -633px;
	font-size:12px;
	color:#fff;
}
#main_area {
	width:100%;
	min-height:100%;
	background:url(https://downloads.freemdict.com/i/bg.png);
	text-align:center;
}
#main_container {
	zoom:1;
	min-height:100%;
	margin:0 auto;
	padding:0;
	width:950px;
	text-align:left;
	background:url("https://downloads.freemdict.com/i/bg_vertical_word.png") repeat-y scroll 615px top;
}
#main_left {
	float:left;
	min-height:100%;
	width:610px;
	padding:0 0 10px 0;
}
#main_right {
	position:static;
	float:right;
	width:335px;
	min-height:100%;
	background-position:0 0;
	z-index:2;
}
#footer_line {
	background-color:#7e93a0;
	border-bottom:1px solid #024562;
	border-top:1px solid #024562;
	width:100%;
	text-align:center;
	padding:5px 0;
	font-size:12px;
}
#footer_line li {
	margin-left:auto;
	margin:0 auto;
	padding:0;
	width:950px;
	color:#c2ccb9;
}
#footer_line a {
	color:#fff;
}
#footer_box {
	zoom:1;
	margin-left:auto;
	margin:0 auto;
	padding:10px 0;
	width:950px;
	_margin:0 0 0 -3px;
	text-align:left;
}
#footer_box li {
	float:left;
}
#footer_box a {
	position:relative;
	display:block;
	overflow:hidden;
}
#footer_box img {
	position:absolute;
}
#footer_asahi {
	width:92px;
	height:41px;
}
#footer_asahi img {
	top:-2px;
	left:-182px;
}
#footer_voyagegroup {
	width:97px;
	_width:117px;
	height:41px;
	padding:0 10px;
}
#footer_voyagegroup img {
	top:-2px;
	left:-285px;
}
#footer_box p {
	font-size:12px;
	line-height:1.5em;
	color:#666;
	width:685px;
}
#footer_box address {
	color:#666;
	line-height:1.5em;
	font-size:12px;
	text-decoration:none;
	padding:10px 0 0 0;
}
#topic_path {
	padding:7px 0;
	font-size:72%;
}
#topic_path a {
	font-weight:bold;
}
#top {
	background:url(https://downloads.freemdict.com/i/word.png) no-repeat;
	background-position:-1px -1px;
	width:100%;
	height:10px;
	text-align:right;
}
#top span {
	height:10px;
	width:10px;
	display:block;
	margin-left:auto;
	background:url(https://downloads.freemdict.com/i/word.png) no-repeat;
	background-position:-1px -23px;
	font-size:1px;
}
#bottom {
	background:url(https://downloads.freemdict.com/i/word.png) no-repeat;
	background-position:-1px -12px;
	width:100%;
	height:10px;
	text-align:right;
}
#bottom span {
	height:10px;
	width:10px;
	display:block;
	margin-left:auto;
	background:url(https://downloads.freemdict.com/i/word.png) no-repeat;
	background-position:-1px -34px;
	font-size:1px;
}
#box {
	width:570px;
	background-color:#fff;
	border-left:1px solid #bec5c8;
	border-right:1px solid #bec5c8;
	padding:10px 19px 0 19px;
}
#bookmark:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
#bookmark {
	float:right;
	zoom:1;
	text-align:right;
	font-size:12px;
}
.bookmark-list {
	display:inline;
	float:left;
	padding-left:5px;
}
.hatena-bookmark-button-frame {
	margin:0 15px;
}
.twitter-share-button,.twitter-count-horizontal {
	width:95px;
}
.interestMatch {
	background-color:#fff;
	padding:0;
	margin:10px 0 0 0;
}
.interestMatch dl {
	margin:0 45px;
	line-height:1.4em;
}
.interestMatch dt {
	margin:0;
	padding:5px 0 0 15px;
	font-weight:bold;
	background:transparent url(https://downloads.freemdict.com/i/common/icon_arrow1.gif) no-repeat 0 10px;
	border-top:1px solid #f0f0f0;
	color:#00f;
}
.interestMatch dt a {
	font-weight:bold;
}
.interestMatch dd {
	padding:0 0 0 15px;
}
.interestMatch dd span {
	display:block;
	font-size:85%;
	color:#404040;
}
.interestMatch dd span a {
	color:#404040;
}
.interestMatch span.host {
	font-size:75%;
	font-weight:normal;
	color:#85ad9e;
	padding-left:10px;
}
.interestMatch span.host a {
	color:#85ad9e;
}
.interestMatch .last {
	border:none;
}
.interestMatch a:hover {
	text-decoration:underline;
}
.interestMatch dd.label {
	text-align:right;
	color:#999;
	font-size:75%;
	border-top:1px solid #eee;
	padding:3px 0 0 0;
}
.interestMatch dd.label a {
	color:#999;
	text-decoration:underline;
}
.adingoImWord {
	margin:0 45px;
}
.adingoImTop {
	margin:15px 20px;
}
.sponsorLink ul {
	line-height:1.5em;
	margin:0 40px;
	padding:10px 0 35px;
}
.sponsorLink li {
	background:url(https://downloads.freemdict.com/i/word.png) no-repeat scroll -227px -120px;
	padding:0 0 10px 15px;
}
.sponsorLink dl {
	border-bottom:1px solid #ddd;
	margin:0 45px 10px 45px;
}
.sponsorLink dt {
	border-top:1px solid #ddd;
	padding:10px 0 0 15px;
	background:transparent url(https://downloads.freemdict.com/i/common/icon_arrow1.gif) no-repeat 0 14px;
	color:#00F;
}
.sponsorLink dd {
	padding:2px 0 10px 15px;
	font-size:88%;
}
.sponsorLink dd span {
	display:block;
	color:#404040;
}
.sponsorLink span.host {
	color:#008000;
}
.sponsorLink .last {
	border:none;
}
.sponsorLink a:hover {
	text-decoration:none;
}
.sponsorLink dd.label {
	text-align:right;
	color:#775A43;
}
.sponsorLink dd.label a {
	color:#775A43;
}
.sponsorLink p.heading {
	padding:0 45px 10px 45px;
}
.sponsorLink p.heading a {
	color:#999;
}
#move_top {
	text-align:right;
	padding:10px 0;
	font-size:72%;
	font-weight:bold;
}
#move_top a {
	padding:0 0 0 15px;
	background:url(https://downloads.freemdict.com/i/word.png) no-repeat;
	background-position:-1px -572px;
}
.YDN {
	font-family:'Lucida Grande','Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','ＭＳ Ｐゴシック',Geneva,Arial,Verdana,sans-serif!important;
	height:auto;
	letter-spacing:normal!important;
	margin:0;
	padding:0;
	text-align:left!important;
	width:auto;
}
.YDN .YAHOOYDN_Wrap {
	background-color:#FFF;
}
.YDN .YAHOOYDN_Wrap a.YAHOOYDN_Link {
	background:url("http://c.adingo.jp.eimg.jp/img/beagle_icons/klug.gif") no-repeat scroll left top #FFF;
	color:#1740C7;
	display:block;
	height:auto;
	overflow:hidden;
	padding:0 0 1em;
	text-decoration:none;
}
.YDN .YAHOOYDN_Wrap a.YAHOOYDN_Link .YAHOOYDN_Title {
	color:#1740C7;
	cursor:pointer;
	font-size:16px;
	font-weight:bold;
	line-height:20px;
	padding-left:20px;
	text-decoration:none;
	vertical-align:middle;
	display:inline;
}
.YDN .YAHOOYDN_Wrap a.YAHOOYDN_Link .YAHOOYDN_URL {
	color:#85AD9E;
	cursor:pointer;
	font-size:11px;
	line-height:20px;
	text-decoration:none!important;
	vertical-align:middle;
	display:inline;
}
.YDN .YAHOOYDN_Wrap a.YAHOOYDN_Link .YAHOOYDN_Body {
	clear:both;
	color:#333;
	cursor:pointer;
	display:block;
	font-size:13px;
	height:auto;
	line-height:1.2em;
	padding:1px 0 0 20px;
	text-decoration:none!important;
	width:auto;
}
#right_howto {
	background:url(https://downloads.freemdict.com/i/right.png) no-repeat;
	background-position:-1px -1px;
	width:280px;
	height:58px;
	font-size:12px;
	line-height:1.5em;
	padding:45px 25px 0 30px;
}
#right_howto a {
	padding:0 0 0 15px;
	background:url(https://downloads.freemdict.com/i/right.png) no-repeat;
	background-position:-3px -850px;
}
#right_ad {
	padding:15px 0 15px 20px;
}
#main_right h3 {
	position:relative;
	overflow:hidden;
	display:block;
	width:335px;
	height:37px;
	margin:0 0 10px 0;
}
#main_right #right_h3 {
	position:relative;
	overflow:hidden;
	display:block;
	width:335px;
	height:37px;
	margin:10px 0;
}
#main_right h3 img,#right_h3 img {
	position:absolute;
	top:-110px;
	left:-1px;
}
.right_unit,.alphabet_unit,.sponsor_unit,.target_unit,.ranking_unit,.information_unit {
	background-color:#fffeec;
	padding:5px 10px 0 10px;
	width:280px;
	margin:0 0 0 20px;
	font-size:82%;
}
.fb_unit {
	background-color:#fff;
	width:300px;
	margin:0 0 10px 20px;
}
.alphabet_unit li:after,.sponsor_unit:after,.ranking_unit li:after,.information_unit li:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.right_unit li,.alphabet_unit li,.ranking_unit li,.information_unit li {
	zoom:1;
	border-bottom:1px solid #eee;
	padding:5px 0;
}
.right_unit a {
	display:block;
	padding:0 0 0 20px;
	background:url(https://downloads.freemdict.com/i/right.png) no-repeat;
	background-position:-1px -888px;
}
.alphabet_unit a {
	display:block;
	float:left;
	width:35px;
	background:url(https://downloads.freemdict.com/i/right.png) no-repeat;
	background-position:-1px -888px;
	padding:0 5px 0 15px;
}
#alphabet_unit_sign {
	width:100px;
}
.sponsor_unit {
	zoom:1;
	padding:10px 0 5px 10px;
	width:290px;
}
.sponsor_unit li {
	float:left;
	padding:0 10px 0 0;
}
.sponsor_unit a {
	position:relative;
	display:block;
	overflow:hidden;
	height:53px;
}
.sponsor_unit img {
	position:absolute;
}
#sponsor_a {
	width:90px;
}
#sponsor_a img {
	top:-439px;
	left:-1px;
}
#sponsor_k,#sponsor_s {
	width:84px;
}
#sponsor_k img {
	top:-497px;
	left:-1px;
}
#sponsor_s img {
	top:-555px;
	left:-1px;
}
.target_unit ol li {
	list-style-type:decimal;
	list-style-position:inside;
	padding:8px 0 8px 5px;
	border-bottom:1px solid #eee;
}
.target_unit p {
	padding-left:18px;
}
#target_num {
	text-align:right;
	border-bottom:2px solid #ddd;
	padding:5px 0 3px 0;
}
.paging {
	padding:15px 0 5px 0;
	text-align:center;
}
.paging a:link,.paging a:visited,.paging span {
	-moz-background-inline-policy:continuous;
	border:1px solid #e5e5e5;
	margin:2px;
	padding:.25em .4em;
	background-color:#fff;
}
.paging span {
	background-color:#edf1f3;
	font-weight:bold;
}
.paging a:hover {
	background-color:#3a9ad6;
	color:#fff;
}
.ranking_unit p {
	width:12px;
	height:12px;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	border:5px solid #a7a29f;
	background-color:#a7a29f;
	color:#fff;
	float:left;
}
.ranking_unit .ranking_top {
	border:5px solid #f5a300;
	background-color:#f5a300;
}
.ranking_top_txt {
	font-weight:bold;
}
.ranking_unit a {
	padding:3px 0 0 10px;
	display:block;
	float:left;
}
.ranking_30 {
	text-align:right;
}
.ranking_30 a {
	padding:5px 0 0 20px;
	margin:0 0 0 170px;
	_margin:0 0 0 85px;
	background:url(https://downloads.freemdict.com/i/right.png) no-repeat;
	background-position:-1px -885px;
	font-size:12px;
}
.right_date {
	float:left;
	width:80px;
	background:url(https://downloads.freemdict.com/i/right.png) no-repeat;
	background-position:58px -919px;
}
.information {
	float:left;
	width:200px;
}
.right_bottom {
	position:relative;
	overflow:hidden;
	display:block;
	width:300px;
	height:10px;
	margin:0 0 10px 20px;
}
.right_bottom img {
	position:absolute;
	top:-818px;
	left:-1px;
}
.right_Fluct1 {
	height:auto;
	display:block;
	margin:0 0 10px 20px;
	overflow:hidden;
	position:relative;
	width:300px;
}
#adingo_keywords_0056700001 {
	padding:0;
	margin:0;
}
#adingo_keywords_0056700001 ul {
	background-color:#fffeec;
	padding:5px 10px 0 10px;
	width:280px;
	margin:0 0 0 20px;
	font-size:82%;
}
#adingo_keywords_0056700001 li {
	border-bottom:1px solid #eee;
	padding:5px 0;
}
#adingo_keywords_0056700001 a {
	display:block;
	padding:0 0 0 20px;
	background:url(https://downloads.freemdict.com/i/right.png) no-repeat;
	background-position:-1px -888px;
	font-weight:bold;
}
#main_right h4 {
	position:relative;
	overflow:hidden;
	display:block;
	width:300px;
	height:29px;
	margin:0 0 0 20px;
}
#main_right h4 img {
	position:absolute;
}
#relation_keyword img {
	top:-153px;
	left:-1px;
}
#sponsor_keyword img {
	top:-188px;
	left:-1px;
}
#sponsor img {
	top:-224px;
	left:-1px;
}
#alphabet img {
	top:-259px;
	left:-1px;
}
#other_target img {
	top:-294px;
	left:-1px;
}
#s_information img {
	top:-329px;
	left:-1px;
}
#s_keyword img {
	top:-364px;
	left:-1px;
}
#s_ranking img {
	top:-399px;
	left:-1px;
}
#k_information img {
	top:-434px;
	left:-1px;
}
#k_keyword img {
	top:-469px;
	left:-1px;
}
#k_ranking img {
	top:-504px;
	left:-1px;
}
#a_information img {
	top:-539px;
	left:-1px;
}
#a_keyword img {
	top:-574px;
	left:-1px;
}
#a_ranking img {
	top:-609px;
	left:-1px;
}
#information img {
	top:-645px;
	left:-1px;
}
#new_keyword img {
	top:-950px;
	left:-1px;
}
#keyword_ttl:after,#ranking_ttl:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
#keyword_ttl,#ranking_ttl {
	zoom:1;
}
#keyword_ttl li,#ranking_ttl li {
	float:left;
}
#keyword_ttl h4 {
	width:275px;
}
#ranking_ttl h4 {
	width:193px;
}
#keyword img {
	top:-679px;
	left:-1px;
	position:absolute;
}
#ranking img {
	top:-714px;
	left:-1px;
}
#ranking_date {
	background:url(https://downloads.freemdict.com/i/right.png) no-repeat;
	background-position:-1px -749px;
	width:72px;
	height:20px;
	padding:9px 0 0 10px;
	font-size:10px;
}
.rss {
	width:25px;
	height:29px;
	display:block;
	overflow:hidden;
	position:relative;
}
.rss img {
	top:-784px;
	left:-1px;
	position:absolute;
}
.banner_box {
	padding:0 0 10px 20px;
}
#topic_path {
	padding:7px 0;
	font-size:72%;
}
#topic_path a {
	font-weight:bold;
}
#word_main_container:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
#word_main_container {
	zoom:1;
	text-align:left;
	min-height:100%;
	min-width:940px;
	padding:0 20px;
	background:url(https://downloads.freemdict.com/i/bg_vertical_word.png) repeat-y right top;
	display:block;
}
#word_margin {
	margin:0 340px 0 0;
}
#word_main_left {
	float:left;
	min-height:100%;
	width:100%;
	margin:0 -370px 0 0;
	padding:10px 0 0 0;
	overflow:hidden;
	z-index:1;
}
#word_main_container #main_right {
	padding-bottom:0;
	margin-bottom:0;
	height:100%;
}
#word_top {
	background:url(https://downloads.freemdict.com/i/word.png) no-repeat;
	background-position:-1px -1px;
	width:100%;
	height:10px;
	text-align:right;
}
#word_top span {
	height:10px;
	width:10px;
	display:block;
	margin-left:auto;
	background:url(https://downloads.freemdict.com/i/word.png) no-repeat;
	background-position:-1px -23px;
	font-size:1px;
}
#word_bottom {
	background:url(https://downloads.freemdict.com/i/word.png) no-repeat;
	background-position:-1px -12px;
	width:100%;
	height:10px;
	text-align:right;
}
#word_bottom span {
	height:10px;
	width:10px;
	display:block;
	margin-left:auto;
	background:url(https://downloads.freemdict.com/i/word.png) no-repeat;
	background-position:-1px -34px;
	font-size:1px;
}
#word_box {
	background-color:#fff;
	border-left:1px solid #bec5c8;
	border-right:1px solid #bec5c8;
	padding:10px 19px 0 19px;
}
#word_similar {
	background-color:#f0f0f0;
	font-size:93%;
	padding:5px;
	line-height:1.3em;
}
#word_similar a {
	padding:0 5px;
}
#word_similar_mark {
	position:relative;
	width:35px;
	height:6px;
	overflow:hidden;
}
#word_similar_mark img {
	position:absolute;
	top:-48px;
	left:-1px;
}
#word_box h1,#word_connect {
	border-bottom:1px solid #3c91c8;
	border-left:8px solid #3c91c8;
	padding:5px;
	margin:3px 0 0 0;
	color:#000;
	font-size:150%;
}
#word_box h1 span {
	font-size:50%;
	font-weight:normal;
}
#word_box #word_connect {
	margin:25px 0 10px 0;
}
#word_information:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
#word_information {
	zoom:1;
	padding:7px 0;
}
#word_amount {
	float:left;
	padding:2px 0 0 0;
}
#word_amount h2 {
	font-size:12px;
	color:#999;
	font-weight:normal;
}
.word_dic {
	border:1px solid #cddbe4;
	margin:0 0 20px 0;
}
.word_dic hr {
	border-color:#CCC -moz-use-text-color #FFF;
	border-style:dotted none;
	border-width:1px medium;
	height:1px;
	margin:0 35px;
}
.word_dic h3:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.word_dic h3 {
	zoom:1;
	border-top:1px solid #fff;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	background-color:#e4f1f7;
	font-size:100%;
	padding:7px 0 2px 0;
}
.word_dic h3 span {
	font-weight:normal;
}
.word_dic_short {
	border:1px solid #cddbe4;
	margin:0 0 20px 0;
}
#otherDictionarySearch_ejje {
	margin:2px 0 0 0;
	padding:6px 2px 2px 2px;
	font-size:72%;
	line-height:1.4em;
	text-align:right;
}
.word_dic_short h2:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.word_dic_short h2 {
	zoom:1;
	border-top:1px solid #fff;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	background-color:#e4f1f7;
	font-size:100%;
	padding:7px 0 2px 0;
}
.word_dic_short h2 span {
	font-weight:normal;
}
.dic_icon {
	width:38px;
	height:30px;
	display:block;
	float:left;
	position:relative;
	overflow:hidden;
	margin:-7px 0 0 0;
}
.dic_icon img {
	position:absolute;
	top:-116px;
	left:-130px;
}
.word {
	padding:10px 20px 10px 10px;
	_padding:20px 40px 0 40px;
	font-size:85%;
	line-height:1.8em;
	color:#404040;
}
.word_short {
	padding:10px 20px 10px 20px;
	_padding:20px 40px 0 40px;
	font-size:85%;
	line-height:1.8em;
	color:#404040;
}
.word_source {
	border-bottom:1px solid #fff;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	background-color:#edf1f3;
	font-size:10pt;
	padding:10px 38px;
}
.word_open,.word_close {
	padding:0 40px;
}
.word_open p {
	border-top:1px solid #ddd;
	padding:10px 0;
}
.word_open a,.word_close a {
	width:132px;
	height:20px;
	display:block;
	position:relative;
	overflow:hidden;
	margin-left:auto;
}
.word_open a:hover,.word_close a:hover {
	background-color:transparent;
}
.word_open img {
	position:absolute;
	top:-210px;
	left:-1px;
}
.word_open a:hover img {
	top:-235px;
	left:-1px;
}
.word_close p {
	padding:10px 0;
}
.word_close img {
	position:absolute;
	top:-156px;
	left:-1px;
}
.word_close a:hover img {
	top:-181px;
	left:-1px;
}
#word_news:after,#word_twitter:after,#word_shoping:after,#word_sponsor:after,#word_twitter_box:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
#word_twitter_box {
	zoom:1;
	background-color:#e4f1f7;
}
#word_twitter_box .left {
	float:left;
	width:100%;
	margin:0 -145px 0 0;
	_width:60%;
}
#word_twitter_box .right {
	float:right;
	font-size:10pt;
	color:#999;
	padding:10px 10px 0 0;
	_width:140px;
	_text-align:right;
}
#word_twitter {
	zoom:1;
	font-size:100%;
	padding:8px 0 2px 0;
	margin:0;
}
#word_news {
	zoom:1;
	background-color:#e4f1f7;
	font-size:100%;
	padding:7px 0 2px 0;
}
#word_shoping,#word_sponsor {
	zoom:1;
	background-color:#e4f1f7;
	font-size:100%;
	padding:7px 0 2px 0;
}
#word_news span,#word_twitter span,#word_shoping span,#word_sponsor span {
	width:38px;
	height:30px;
	display:block;
	float:left;
	position:relative;
	overflow:hidden;
	margin:-7px 0 0 0;
}
#word_news span img {
	position:absolute;
	top:-116px;
	left:-1px;
}
#word_twitter span img {
	position:absolute;
	top:-516px;
	left:-1px;
}
#word_shoping span img {
	position:absolute;
	top:-116px;
	left:-44px;
}
#word_sponsor span img {
	position:absolute;
	top:-116px;
	left:-87px;
}
.twitterList:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.twitterList {
	padding:0 0 25px 0;
	zoom:1;
}
.twitterList li {
	float:left;
}
.twitterImg {
	width:48px;
	padding:0 15px 0 0;
	margin:0 -63px 0 0;
	/margin:0;
}
.twitterTxt {
	margin:0 0 0 63px;
	font-size:88%;
	line-height:1.5em;
	/margin:0;
}
#word_twitter_list {
	margin:10px 45px 25px 45px;
}
#word_news_list,#word_shoping_list,#word_sponsor_list {
	padding:10px 0 35px 0;
	margin:0 40px;
	line-height:1.5em;
}
#word_news_list li {
	padding:0 0 10px 55px;
	background:url(https://downloads.freemdict.com/i/word.png) no-repeat;
	background-position:-1px -263px;
}
#word_news_list li span {
	font-size:72%;
}
#word_shoping_list a {
	color:#00f;
}
#word_shoping_rakuten {
	padding:0 0 10px 55px;
	background:url(https://downloads.freemdict.com/i/word.png) no-repeat;
	background-position:-1px -405px;
}
#word_shoping_amazon {
	padding:0 0 10px 55px;
	background:url(https://downloads.freemdict.com/i/word.png) no-repeat;
	background-position:-1px -355px;
}
#word_auction_yahoo {
	padding:0 0 10px 55px;
	background:url(https://downloads.freemdict.com/i/word.png) no-repeat;
	background-position:-1px -459px;
}
#word_shoping_yahoo {
	padding:0 0 10px 55px;
	background:url(https://downloads.freemdict.com/i/word.png) no-repeat;
	background-position:-2950px -459px;
}
#word_sponsor_list li {
	padding:0 0 10px 15px;
	background:url(https://downloads.freemdict.com/i/word.png) no-repeat;
	background-position:-227px -120px;
}
.ss {
	margin:5px 40px 0 20px;
	border-bottom:1px solid #ddd;
	line-height:1.3em;
	font-size:100%;
}
.ss .ss_title {
	border-top:1px solid #ddd;
	padding:13px 0 0 20px;
	background-position:-227px -110px;
	color:#00f;
	display:block;
}
.ss a:hover .ss_title {
	text-decoration:underline;
}
.ss .ss_discription {
	font-size:85%;
	color:#404040;
	padding:3px 0 0 20px;
	line-height:1.3em;
	display:block;
}
.ss a:hover .ss_discription {
	text-decoration:none;
}
.ss .ss_address {
	font-size:85%;
	color:#469e88;
	display:block;
	padding:0 0 13px 0;
	font-size:85%;
	margin-left:20px;
}
.ss a:hover .ss_address {
	text-decoration:none;
}
.ss_link {
	font-size:12px;
	text-align:right;
	padding:3px 40px 0 0;
}
.ss_link a {
	color:#999;
}
.ss a:hover {
	text-decoration:none;
}
#move_top {
	text-align:right;
	padding:10px 0;
	font-size:72%;
	font-weight:bold;
}
#move_top a {
	padding:0 0 0 15px;
	background:url(https://downloads.freemdict.com/i/word.png) no-repeat;
	background-position:-1px -572px;
}
#banner_app {
	margin:20px auto;
	text-align:center;
}
.talent_doc {
	font-size:88%;
	line-height:2em;
	padding:10px 15px;
}
.talent_doc b {
	font-weight:bold;
	margin:0 10px 0 0;
	padding:3px 10px;
	background-color:#edf1f3;
}
.talent_doc strong {
	font-weight:bold;
	padding:3px 10px;
	margin:0 0 0 15px;
	background:url("https://downloads.freemdict.com/i/common/icon_arrow4.gif") no-repeat scroll 0 6px transparent;
}
.talent_profile {
	font-size:88%;
	line-height:2em;
	background-color:#edf8ff;
	padding:10px;
	margin:10px 15px;
	line-height:1.6em;
}
.talent_img {
	font-size:88%;
	line-height:2em;
	padding:10px 15px;
}
.talent_img img {
	border:10px solid #edf1f3;
	margin:0 10px 10px 0;
}
.word_colums {
	font-size:88%;
	line-height:2em;
	padding:10px 15px;
}
.word_colums b {
	font-weight:bold;
	margin:0 10px 0 0;
	padding:3px 10px;
	background-color:#edf1f3;
}
.word_colums strong {
	font-weight:bold;
	padding:3px 10px;
	margin:0 0 0 15px;
	background:url("https://downloads.freemdict.com/i/common/icon_arrow4.gif") no-repeat scroll 0 6px transparent;
}
